name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Build the Docker image
      run: docker build python/docker --file Dockerfile --tag lucasalf11/ieeg_recon:test
    - name: Push the docker image
      run: docker login -u lucasalf11 -p ${{ secrets.DOCKER_TOKEN }} && docker push lucasalf11/ieeg_recon:test
